/vendor/
node_modules/
npm-debug.log
yarn-error.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot

# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot

# Hidden kyes
storage/*.key

Homestead.yaml
Homestead.json
.env
.vagrant
.phpunit.result.cache
.idea
.DS_Store
.cache
.npm
.config
.local

/docker
docker-compose.yml
